doctype html
html
    head
        include ../partials/header
        
    body(class="container")
        br
        br
        if response
            h3 Dados da Farmácia
            table(class="table table-striped")
                thead
                    tr
                        th nome
                        th endereço 
                        th Total a pagar
                tbody
                    tr
                        td=response.pharmacy
                        td=response.address
                        td=response.totalAmount


         
            a(class="btn btn-primary") Terminar Pedido
            br
            br

            h3 Itens Inseridos

            table(class="table table-striped")
                thead
                    tr
                        th Nome
                        th fabrico 
                        th Desponiblidade
                tbody
                    if responses.medicines
                        each medicine in responses.medicines
                            tr
                                td=medicine.name
                                td=medicine.madeIn
                                td=medicine.available
                    else 
                        p Nenhum dado Inserido
        



                       


            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#staticBackdrop') Adicionar item

        
            include ../partials/add-medicines-modal
        else
            p no data
    